[2017-11-01 20:17] cr4zyafrican opened #1 "can the exams be worth 15% in total"

[2017-11-01 22:07] joannakl commented on #1
No

[2017-11-01 22:07] #1 closed, assigned to nobody

[2018-02-08 17:12] S1MB10T3 opened #2 "Mislabel Link"
The navbar link for 'Github' fowards users to the Pizza forum.

[2018-02-08 17:12] suyasha0 opened #3 "Github link broken"
Github links to Piazza instead of Github.

[2018-02-08 17:16] ashleytqy opened #4 "Navbar links doesn't link to correct pages"
Currently, the `Syllabus` tab links to the daily schedule, and the `Daily` tab links to the syllabus page.

<img width="799" alt="screen shot 2018-02-08 at 12 15 55 pm" src="https://user-images.githubusercontent.com/11889765/35987516-e0453576-0cc9-11e8-95ed-9df798379502.png">

[2018-02-08 17:18] ryanchau opened #5 "Footer mislabeled Fall 2016 Calendar"
The link is correct, but it should be labeled Spring 2018 Calendar.

Google Chrome Version 64.0.3282.140 (Official Build) (64-bit)

[2018-02-08 17:22] gabegordon opened #6 "Broken link to version control systems slides"
The link to the slides for class 5 (Version control systems) directs to nonexistent github page.

Issue produced using: Firefox 59.0b7-1

[2018-02-08 17:22] dorasun opened #7 "Class #1 repeated twice; class #2 not shown"
Class 1 is repeated twice on the daily list instead of class 2, perhaps an incorrect link on github? Please see attached screenshot. I'm viewing on the latest version of Chrome.

<img width="960" alt="screen shot 2018-02-08 at 12 32 05 pm" src="https://user-images.githubusercontent.com/10905385/35988343-2a9e3936-0ccc-11e8-8da9-f2f9a2a7a82a.png">

[2018-02-08 17:23] zdaisyz opened #8 "Open Encyclopedia link broken"
The link for open encyclopedia on https://joannakl.github.io/cs480_s18/daily.html  is broken.
Browser: Chrome Version 64.0.3282.140 (64-bit)
![screenshot 12 _li](https://user-images.githubusercontent.com/5962606/35987934-213edc5c-0ccb-11e8-8002-8b5539927f3e.jpg)

[2018-02-08 17:24] ashley-hu opened #9 "Date mislabeled"
Under Class 5, the date is wrong

Browser: Google Chrome
Version: 63.0.3239.132

[2018-02-08 17:24] dorasun commented on #5
Problem seems to be in  _includes/footer.html, line 5
https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/footer.html#L5

[2018-02-08 17:24] jfushada opened #10 "Wrong class meeting address"
On the home page, it states that the class meetings are at CIWW, Room C10, while it should be at 60 5th Avenue, Room C10.

Browser: Chrome Version 63.0.3239.132

[2018-02-08 17:26] felixplajer opened #11 "tryGit link misformatted"
On the daily page under class 5, the link to tryGit is formatted incorrectly.

Browser: Chrome 63.0.3239.132

[2018-02-08 17:26] dorasun commented on #4
Problem found under _includes/header.html, lines 10 and 11 have the wrong labels for the wrong links, see https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/header.html#L10-L11

[2018-02-08 17:31] jfushada commented on #9
Yes, it says Tue, 2/66  while it should be Tue, 2/6

[2018-02-08 17:34] ashley-hu commented on #3
Possible duplicate of the first issue? https://github.com/joannakl/cs480_s18/issues/2

[2018-02-08 17:35] jfushada commented on #7
Yes, the daily entry for class 2 is available in the github repo (https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/02.markdown) but is not present in the daily.html page.

[2018-02-08 17:42] PhrydRhys opened #12 "Tom Callaway's Company"
Under "Class 3", it says that Tom Callaway is from "Bluefish". However, I believe the company that he works for is "RedHat".

Browser: Google Chrome, Version 62.0.3202.75

[2018-02-08 17:43] ckilcrease opened #13 "Incorrect Link to Daily from Syllabus"
The "Daily" link in the syllabus (at the bottom of the "topics covered" section: "For detailed schedule, see the Daily tab of this page.") just links back to the syllabus page, instead of the actual daily page.

I'm using Google Chrome version 63.0.3239.132

[2018-02-08 17:44] ryanchau commented on #8
Looks like the correct link should be: https://joannakl.github.io/cs480_s18/slides/week2/open_encyclopedia.html

[2018-02-08 17:45] suyasha0 opened #14 "Comma formatting in textbooks page"
There are unnecessary commas in the textbook names in the syllabus page.

[2018-02-08 17:46] #3 closed, assigned to nobody

[2018-02-08 17:49] zdaisyz commented on #6
Issue replicated on Chrome.
Think the link should be: https://joannakl.github.io/cs480_s18/slides/week3/version_control_systems#1

[2018-02-08 17:50] suyasha0 commented on #13
I found the same issue using Microsoft Edge.

[2018-02-08 17:52] PhrydRhys commented on #13
I believe the issue is the similar to that of [Issue #4](https://github.com/joannakl/cs480_s18/issues/4)

[2018-02-08 17:52] ashley-hu commented on #12
Yes, I see the same issue. I am using Google Chrome, Version: 63.0.3239.132

[2018-02-08 17:52] suyasha0 commented on #2
I found the same issue on Microsoft Edge.
Can be fixed by changing link to github link: https://github.com/nyu-ossd-s18

[2018-02-08 17:54] ghost opened #15 "Midterm Exam is listed as 200% of Final Grade"
On the Grading section of the website

Using Chrome 64.0.3282.140

[2018-02-08 17:56] ryanchau commented on #15
The issue is found on https://joannakl.github.io/cs480_s18/syllabus.html under the Grading section.

Should be listed as 20%.

[2018-02-08 18:01] ckilcrease commented on #13
Hmm, it seems to be caused by a separate problem though, because in syllabus.markdown (if you view the raw file) the link to syllabus.html is provided, although it should link to daily.html

[2018-02-08 18:01] zdaisyz commented on #5
I think the link might also be wrong, and should direct to: https://www.nyu.edu/registrar/calendars/university-academic-calendar.html#1184

[2018-02-08 18:02] ghost commented on #12
I was going to post this one—good find!

[2018-02-08 18:03] oekonomi opened #16 "Wrong date for class #5"
On the daily page class number 5 is wrongly labeled as 2/66 rather than 2/6.

[2018-02-08 18:04] eschadt commented on #16
This has already been reported by ashley-hu!

Duplicate of #9

[2018-02-08 18:04] dayo-adebanjo opened #17 "Questions in recitations are encouraged"
In the "how to get help?" section. Browser: Chrome 63.0.3239.132.

[2018-02-08 18:06] ghost commented on #17
There's no recitations for this course!

[2018-02-08 18:06] PhrydRhys commented on #13
Yes, I believe you are correct; I misread which "Daily" link you were referring to, and agree the location you have provided as the cause of this problem

[2018-02-08 18:12] dayo-adebanjo commented on #15
I see the issue on my browser version as well (Chrome 63.0.3239.132)

[2018-02-08 18:13] PhrydRhys commented on #10
I also see this issue with Version 62.0.3202.75 of Google Chrome.
I believe the source of this misinformation is located in the [_config.yml](https://github.com/joannakl/cs480_s18/blob/gh-pages/_config.yml#L23) file.

[2018-02-08 18:13] #16 closed, assigned to nobody

[2018-02-08 18:14] oekonomi opened #18 "2/8 wrong day of the week"
In the daily section, 2/8 is listed as a Tuesday when it's a Thursday

[2018-02-08 18:17] danagilliann opened #19 "Questionnaire misspelling"
The word "questionnaire" under "Daily" is spelled as "questionnnaire"

Version 63.0.3239.132

[2018-02-08 18:21] PhrydRhys commented on #11
The mis-formatting is also evident in Version 62.0.3202.75 of Google Chrome.

[2018-02-08 18:23] PhrydRhys commented on #14
I also see the commas on this page with Version 62.0.3202.75 of Google Chrome and on the [_config.yml](https://github.com/joannakl/cs480_s18/blob/gh-pages/_config.yml) file

[2018-02-08 18:29] dayo-adebanjo commented on #12
Issue can be found here: https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/03.markdown

[2018-02-08 18:35] JFernandes1 opened #20 "Spacing error in bullet point list of topics covered"
On this page: https://joannakl.github.io/cs480_s18/syllabus.html

On Chrome Version 64.0.3282.140

[2018-02-08 18:37] Amethystix opened #21 "(DELETED FOR DUPLICATE)"
My bad, made 2 issues when I should've made one.

[2018-02-08 18:46] Amethystix opened #22 ""Practical Open Source Software Exploration" book image not present"
There appears to have been an image in that space, as in the html there is an image with a src that doesn't lead anywhere, so I assume the image needs to be linked properly. Using Google Chrome Ver. 64.0.3282.140

[2018-02-08 19:01] eschadt opened #23 ""Fall 2016 Calendar" links to the "Fall 2017 Calendar""
It was already noted that the link should say "Spring 2018 Calendar," however the link itself does not link to the fall 2016 calendar as hyperlink states, but links to the fall 2017 calendar (hence a separate issue).

Im using safari - Version 10.1.2 (12603.3.8)

[2018-02-08 19:13] adnanislam opened #24 ""How To Get Help" Section: Improper Punctuation and Spacing"
On the index page and under the Course Essentials section, "How to Get Help?" should be "How to Get Help:" and the text that follows should start on a new line.

Found on Chrome Version 63.0.3239.132.

[2018-02-08 19:18] GS-14 opened #25 "Missing Piazza button"
Piazza button is missing on the site.
Chrome Version: 64.0.3282.140

[2018-02-08 19:33] GS-14 commented on #23
Issue also exists in Chrome Version 64.0.3282.140.
Most likely a minor typo (this is also an issue on the CSO and Data Structure sites this semester).

[2018-02-08 19:39] ashley-hu commented on #21
I see the issue on Google Chrome (Ver. 63.0.3239.132). The cause for this issue can be found here: https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/04.markdown. The typo is from the markdown.

[2018-02-08 19:41] extra-mayo commented on #22
Yup, the image tag shows that src is blank.
`<img src="" name="Book" border="0px" width="120px">`

[2018-02-08 19:47] GS-14 commented on #18
Also an issue on Chrome Version 64.0.3282.140.
Minor typo, error in the column_date div in daily.html.

[2018-02-08 19:48] swang96 commented on #25
More specifically, there is now a ""GITHUB" navbar tab that links to piazza.

[2018-02-08 19:48] rosaswaby opened #26 "Unnecessary ellipsis in Topics Covered"
When you go to the Topics Covered section of Daily, there is an empty bullet point with ellipsis.
Chrome Version: 64.0.3282.140

![](https://user-images.githubusercontent.com/9499838/35995365-1435f1f6-0ce1-11e8-8b63-f382ca504286.png)

[2018-02-08 19:54] swang96 commented on #20
More specifically there is an error in spacing between "Case studies of several open source projects" and "Licensing"

[2018-02-08 19:56] ashley-hu commented on #22
I found the cause for the issue here:  https://github.com/joannakl/cs480_s18/blob/b9d1886fb74bcf31973bc547a788fd4de0d628e2/_config.yml#L70  The image link is empty. I believe the image link needs to be provided here in order for the image to appear.

[2018-02-08 19:58] swang96 opened #27 "Academic Email Etiquette and Academic Integrity Policy are switched"
https://joannakl.github.io/cs480_s18/syllabus.html

The information for academic email etiquette and academic integrity policy are switched with each other under the course syllabus.

[2018-02-08 20:02] rosaswaby commented on #26
<img width="330" alt="screen shot 2018-02-08 at 3 01 36 pm" src="https://user-images.githubusercontent.com/9499838/35995365-1435f1f6-0ce1-11e8-8b63-f382ca504286.png">

[2018-02-08 20:13] ckilcrease commented on #25
I also see this issue in Chrome 63.0.3239.132
The issue seems to be in _includes/header.html in the following line:
      `  <li><a href="{{site.piazza_site}}" target="_blank">GitHub</a></li>`

[2018-02-08 20:15] extra-mayo opened #28 "The descriptions underneath "Videos" are formatted incorrectly"
Google Chrome | 63.0.3239.132 (Official Build) (64-bit) (cohort: Stable)

![image](https://user-images.githubusercontent.com/15808322/35995915-dc04c828-0ce2-11e8-9071-ed819d5312d2.png)

[2018-02-08 20:19] ckilcrease commented on #17
Yes, this can be fixed in [index.markdown](https://github.com/joannakl/cs480_s18/blob/gh-pages/index.markdown) which contains the "how to get help" section and content

[2018-02-08 20:26] extra-mayo commented on #19
Can confirm, I'm seeing the same error using Google Chrome 63.0.3239.132

[2018-02-08 21:55] eschadt commented on #27
confirmed! The email etiquette and academic integrity policy are indeed switched!

[2018-02-08 22:00] eschadt commented on #5
The link is also incorrect. It links to fall 2017. It should either link to fall 2016 as the hyperlink indicates or to our current semester; spring 2018.

[2018-02-08 22:03] eschadt commented on #11
Indeed it is!
the  html for this link is as follows:

<p>if you are not comfortable with using git from the terminal, go through the [t]ryGit(https://try.github.io/levels/1/challenges/1) tutorial</p>

 the <a> tag needs to be used inside the <p> tags to turn trygit into a hyperlink.

[2018-02-08 22:40] ryanchau commented on #5
The link brings you to the correct page, you just have to scroll down. Dazigemm's link is more specific.

[2018-02-08 22:56] dorasun commented on #26
I'm also bothered by the inconsistent use of commas. A bulleted list like this shouldn't need commas at all.

[2018-02-08 23:40] melissaelopez opened #29 "Broken link to Open Encyclopedia slides"
Clicking the link from the Daily section results in a 404 error.

[2018-02-08 23:43] #29 closed, assigned to nobody

[2018-02-08 23:48] melissaelopez opened #30 "Typo for class meeting times"
The website lists “Tuesdays and Thursdays 11:00PM - 12:15AM.” Misuse of PM/AM.

[2018-02-09 00:16] ashleytqy opened #31 "Data Structures roster included in repo"
Don't think this https://github.com/joannakl/cs480_s18/blob/gh-pages/NYU_RS_PHOTO-1.pdf is supposed to be in the repo. It says "DO NOT DISTRIBUTE OR POST".

[2018-02-09 01:33] joannakl commented on #31
Like you said, this file was not supposed to be there. This is something I needed to deal with right away. Good catch!

[2018-02-09 01:33] joannakl commented on #31
File removed by JK.

[2018-02-09 01:33] #31 closed, assigned to joannakl

[2018-02-09 04:09] eschadt commented on #30
confirmed! PM/AM are misused for the class meeting times!

[2018-02-09 04:39] rosaswaby commented on #30
can confirm this as well! the issue might be found in the _config.yml file for the class website

[2018-02-09 04:49] rosaswaby commented on #23
I can also confirm that this issue is here as well. It can be find in the file footer.html for the course website.

[2018-02-10 00:08] oekonomi commented on #28
I'm seeing this issue too.  It looks like a couple of line breaks are missing

[2018-02-10 17:18] danagilliann commented on #24
Can confirm with Version 63.0.3239.132
Can be fixed here: https://github.com/joannakl/cs480_s18/blob/126086fb0ff1f9dc4c522528ac522d9ae2963641/index.markdown

[2018-02-10 17:20] danagilliann commented on #26
Can confirm with Version 63.0.3239.132
Can be fixed here: https://github.com/joannakl/cs480_s18/blob/b9d1886fb74bcf31973bc547a788fd4de0d628e2/syllabus.markdown

[2018-02-10 17:43] Matthew-Herman opened #32 "Typo in Class #1 section on daily.html"
Using Chrome 64.0.3282.140 on MacOS 10.12.6

The current lines read as follows:
Producing Open Source Software, , chapter 1
Producing Open Source Software, , chapter 3, IRC section (p. 66)

![commatypodaily](https://user-images.githubusercontent.com/17124331/36064853-8887c640-0e5f-11e8-86ab-5bb9308f4bf4.jpg)

It should probably read as follows:
Producing Open Source Software, chapter 1
Producing O

[2018-02-10 17:56] Matthew-Herman commented on #28
This can be fixed by navigating in the repository to https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/01.markdown and adding proper formatting with markdown.

[2018-02-10 18:11] Matthew-Herman commented on #30
Confirmed. The course_time variable needs to be changed in https://github.com/joannakl/cs480_s18/blob/gh-pages/_config.yml as @rosaswaby mentioned.

Also I want to add that there is a style discrepancy between "AM - PM" under class meetings and "am - pm" under office hours. Maybe someone can open a new issue on that.

[2018-02-10 20:24] oekonomi commented on #32
This looks similar to the extra commas in the textbook section mentioned in #14 . They might have the same cause

[2018-02-10 22:01] ghost opened #33 "Typo under "Licensing""
The phrase should read "how to _license_ your own work." (No 's')

![screen shot 2018-02-09 at 21 36 36](https://user-images.githubusercontent.com/22824699/36067065-cc88adfe-0e83-11e8-8b34-e64ca7499789.png)

Using Firefox Quantum 52.0.2 on MacOS 10.13.3.

[2018-02-10 22:14] ghost commented on #2
Same issue found using Firefox 58.0.2.

Alternatively, if it's the link to Piazza we want to keep, and the header is the problem, then this could be fixed by changing line 13 in "_includes/header.html" from:
`<li><a href="{{site.piazza_site}}" target="_blank">GitHub</a></li>`
to:
`<li><a href="{{site.piazza_site}}" target="_blank">Piazza</a></li>`

[2018-02-10 22:29] ghost commented on #27
+1, using Firefox 58.0.2.

I think the two texts have been switched in [syllabus.markdown](https://github.com/joannakl/cs480_s18/blob/gh-pages/syllabus.markdown).

[2018-02-10 23:31] JimenezJC opened #34 "Unclosed parenthesis on Text Books page"
There is an unclosed parenthesis following the information provided for the Practical Open Source Software Explorations textbook.

![screenshot_20180210-182234_2](https://user-images.githubusercontent.com/17581970/36067686-1c74ab4a-0e90-11e8-840a-ff3ab04073c2.png)

Chromium Version 64.0.3282.119 (Developer Build) (64-bit)

[2018-02-11 02:19] adnanislam commented on #34
This issue is also confirmed to exist on Chrome Version 64.0.3282.140 (Official Build) (64-bit). The issue can be fixed at https://github.com/joannakl/cs480_s18/blob/gh-pages/_config.yml#L69.

[2018-02-11 02:22] adnanislam commented on #33
This issue is also confirmed to exist on Chrome Version 64.0.3282.140 (Official Build) (64-bit). This issue can be resolved at https://github.com/joannakl/cs480_s18/blob/gh-pages/syllabus.markdown.

[2018-02-11 13:35] melissaelopez commented on #7
I can also confirm this issue. The fix might be in the top section of markdown in [https://github.com/joannakl/cs480_s18/blob/gh-pages/daily.html](https://github.com/joannakl/cs480_s18/blob/gh-pages/daily.html), where day 1 is repeated on lines 4 and 5

[2018-02-11 13:37] melissaelopez commented on #9
I can also confirm that this is incorrect. Perhaps the issue can be found at cs480_s18/_includes/daily/05.markdown.

[2018-02-11 19:07] #21 closed, assigned to nobody

[2018-02-11 19:17] Amethystix commented on #14
I'm unsure if this is an issue or if it is intended: it would be strange to include the same comma formatting for every book if it were to be an error.  But I do see what you're talking about running Google Chrome  64.0.3282.140

[2018-02-11 19:21] ashley-hu commented on #19
Can also confirm. I am using Google Chrome (64.0.3282.140). The cause of the issue can be found here https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/01.markdown

[2018-02-11 19:23] Amethystix commented on #32
Yes, can confirm this error and that it is due to the fact that in the [markdown for this lecture](https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/01.markdown) there is a comma added after the link's name is called as site.book_opt_1, but as you can see [here](https://github.com/joannakl/cs480_s18/blob/78f29bbe02ed584644e2b501dbe7e1a50507663d/_config.yml#L49), the name site.boo

[2018-02-11 20:14] AlvaroLuken opened #35 "'Cathedral' is mispelled as 'Catherdral'"
The issue is in the tab that starts with: "if you have not done so already, go to Piazza and vote for the date of the midterm exam" - I cannot give many other references as most parts of this tab are broken.

Also, the article is not hyperlinked anywhere in the page as I remember it was at one point - I hope someone brings this issue up separately.

I am using Google Chrome, Version 63.0.3239.132

[2018-02-11 20:54] dmckenna24 opened #36 "Missing word "are" in blog post question"
Under class 4's blog post, it says the following "quote them in your blog and try to explain what they supposed to mean" and the sentence should have the word "are" between they and supposed.

Safari v. 11.0.3

[2018-02-11 21:00] dmckenna24 commented on #35
I can confirm this issue, using Safari v. 11.0.3. And the misspelling can be found in on [line 16](https://github.com/joannakl/cs480_s18/edit/gh-pages/_includes/daily/04.markdown#L16)

[2018-02-11 21:02] dmckenna24 commented on #34
This issue is also apparent on Safari v. 11.0.3, and can be fixed [here](https://github.com/joannakl/cs480_s18/blob/gh-pages/_config.yml#L69) by adding the missing parenthesis.

[2018-02-11 21:28] AlvaroLuken commented on #36
I can confirm this issue exists in the page.
I am using Google Chrome, Version 63.0.3239.132 (Official Build) (64-bit).

Issue should be easily solved by simply adding "are" in 04.markdown file.

I notice your "# 4" links to some other area, just pointing that out to avoid any possible confusion.

Find image of tab and error below:

<img width="982" alt="screen shot 2018-02-11 at 4 25 14 pm" src="

[2018-02-11 22:19] cr4zyafrican opened #37 "2/66 is not a real date"
February only has 28 days

[2018-02-11 22:20] #37 closed, assigned to nobody

[2018-02-11 22:21] cr4zyafrican commented on #37
already reported

[2018-02-11 22:23] cr4zyafrican opened #38 "Midterm and Final Dates not posted"
On the home page, the exam dates have not been posted and the course website should be updated with this information.

Chrome 63.0.3239.132

[2018-02-11 22:28] cr4zyafrican commented on #35
This is a confirmed issue as the Merriam Webster Dictionary spells is it as Cathedral. https://www.merriam-webster.com/dictionary/cathedral

Chrome  63.0.3239.132

[2018-02-11 22:33] cr4zyafrican commented on #4
Can confirm this issue with Chrome 63.0.3239.132

[2018-02-12 03:55] JimenezJC commented on #28
Also experiencing this bug on Chromium Version 63.0.3239.132 (Developer Build) (64-bit). Should be an easy fix.

[2018-02-12 04:00] JimenezJC commented on #32
This error also seems to be present on Chromium Version 63.0.3239.132 (Developer Build) (64-bit).
lad475 seems to have the correct fix, shouldn't be too difficult to implement.

[2018-02-12 04:07] mzguimaraes opened #39 "Improper usage of semicolons"
This passage from the Class #4 homework description:

Each usage of a semicolon here is incorrect, and sentence breaks would serve better.

Unlike many programming languages, the English language does not require commands to be separated by semicolons.  Semicolons are hard to use correctly; it is therefore recommended to use them sparingly to avoid the wrath of those who care too much about gramma

[2018-02-12 04:11] mzguimaraes commented on #38
I believe this is intended behavior, as I don't think the midterm date has been announced yet.  Joanna may still be waiting on people to vote.

[Source](https://piazza.com/class/jccbxbx7axjji?cid=13)

Chrome 63.0.3239.84 (Official Build) (64-bit)

[2018-02-12 04:16] mzguimaraes commented on #36
Confirming this issue as well (Chrome 63.0.3239.84 (Official Build) (64-bit))

The error appears to be on line 41, judging from daily/04.markdown's [blame page](https://github.com/joannakl/cs480_s18/blame/gh-pages/_includes/daily/04.markdown).

[2018-02-12 04:19] cr4zyafrican opened #40 "Correct misspelt"
The top of the website had a disclaimer: "This page currently has a lot of broken information - it is participating in class exercise. It should return to its corrent state shortly." It should be correct state.

Chrome 63.0.3239.132

[2018-02-12 04:48] S1MB10T3 commented on #40
lol corrent... I get the same error.
Chromium Version 64.0.3282.119

Issue can be found here at `cs480_s18/_includes/head.html`
[code]

[2018-02-12 04:55] S1MB10T3 commented on #25
I mention this error on issue #2 lol

[2018-02-12 13:08] natalietotonchy opened #41 "Date of Class 5 incorrect"
<img width="792" alt="screen shot 2018-02-12 at 8 06 46 am" src="https://user-images.githubusercontent.com/27150975/36098121-bb2b79b2-0fcb-11e8-9307-29330b945dad.png">

The date for class 5 is listed as 2/66 instead of 2/6. I found this issue while using the Safari browser version 11.0 (13604.1.38.1.6)

[2018-02-12 13:19] natalietotonchy commented on #39
Confirming that this issue exists using Safari version 11.0 (13604.1.38.1.6). The grammatical error can be fixed here: https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/04.markdown

It should be noted however that perhaps the author chose to deliberately defy the constraints of grammatical rules.

[2018-02-12 22:05] kellyhogan opened #42 "Typo under "Important Dates""
On the home page under Important Dates, the phrase should be "Midterm Exam (these dates may change if there are any scheduled changes):"

![image](https://user-images.githubusercontent.com/17225886/36122262-b9613568-1016-11e8-8735-72dfe628cb70.png)

Google Chrome Version 63.0.3239.132 (Official Build) (64-bit)

[2018-02-12 22:19] kellyhogan commented on #41
I can confirm this issue with Google Chrome Version 63.0.3239.132 (Official Build) (64-bit).

The issue can be fixed by editing line 7 of [daily/05.markdown](https://github.com/joannakl/cs480_s18/blame/gh-pages/_includes/daily/05.markdown).

[2018-02-12 22:39] kellyhogan commented on #20
I can confirm the issue in Google Chrome Version 63.0.3239.132 (Official Build) (64-bit).

The issue seems to be caused by an extra space that has been overlooked due to code that is commented out in lines 63-68 in [syllabus.markdown](https://github.com/joannakl/cs480_s18/blame/gh-pages/syllabus.markdown). Upon closer inspection using the developer tools, I found that there are 2 unordered lists i

[2018-02-13 02:24] gabegordon commented on #4
This issue also occurs for me.
Using: Firefox 59.0b7

[2018-02-13 02:26] gabegordon commented on #8
The link is broken for me as well.
Using: Firefox 59.0b7

[2018-02-13 03:28] riosr2 opened #43 "Use of slang in course Home Page"
Under the How to Get Help? section of the course [home page](https://joannakl.github.io/cs480_s18/index.html) the word till is used in the following context:

"Do not wait **till** you start getting failing grades because it might be too late by then."

Should this be changed to until?

[2018-02-13 03:35] felixplajer commented on #42
"is" should definitely be "if", but I think "schedule" is correct - the exam dates would change if there are changes in the schedule. I don't think it really makes sense to say "scheduled changes" - it's a bit redundant.

[2018-02-13 03:39] riosr2 commented on #42
I can confirm the issue in Safari Version 9.1.1 (10601.6.17). This can easily be fixed under the index markdown page, https://github.com/joannakl/cs480_s18/blob/gh-pages/index.markdown.

[2018-02-13 03:43] riosr2 commented on #40
I can also confirm this bug (Safari Version 9.1.1 (10601.6.17)). Should be an easy fix.

[2018-02-13 03:47] felixplajer commented on #24
I agree that the text that follows should be on a new line, but I think the question mark instead of a colon is a valid choice (I don't recall how it was before the site-wide mangling). "How to Get Help?" makes just as much sense as "How to Get Help:", since it's more of a question than the other headings in that section.

[2018-02-13 03:53] felixplajer commented on #41
This appears to be a duplicate of issue #9 (which was opened a few days earlier).

[2018-02-13 15:30] natalietotonchy opened #44 "Hyperlink for Webopedia link incorrect"
<img width="567" alt="screen shot 2018-02-13 at 10 25 07 am" src="https://user-images.githubusercontent.com/27150975/36157652-46b46f8e-10a8-11e8-9da2-a1f08294328f.png">

The hyperlink to the Webopedia website includes the word "software" instead of just being the word Webopedia. If this was intentional, it is misleading, and the line should be something along the lines of "Webopedia: software defi

[2018-02-13 15:31] natalietotonchy commented on #43
I can confirm this issue on Safari version 11.0 (13604.1.38.1.6) This can be fixed in the markdown file here: https://github.com/joannakl/cs480_s18/blob/126086fb0ff1f9dc4c522528ac522d9ae2963641/index.markdown

[2018-02-13 16:46] natalietotonchy commented on #41
Closed because this bug is a duplicate as mentioned above

[2018-02-13 16:46] #41 closed, assigned to nobody

[2018-02-13 17:06] felixplajer commented on #38
Now that the midterm date has been announced (March 8) we can add it.

[2018-02-13 17:08] cr4zyafrican commented on #44
I can confirm this issue. The software should not be part of the hyperlink

Chrome Version 64.0.3282.140

[2018-02-13 17:09] JimenezJC commented on #18
The typo seems to be located here https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/06.markdown

[2018-02-13 17:11] adnanislam commented on #44
Issue can be fixed at https://github.com/joannakl/cs480_s18/blob/gh-pages/index.markdown

[2018-02-13 17:12] AlvaroLuken commented on #15
I can also confirm this issue and it can be found inside the repo at: https://github.com/joannakl/cs480_s18/blob/gh-pages/syllabus.markdown

[2018-02-13 17:12] melissaelopez commented on #20
For further clarity, here is what the spacing error looks like on the page currently:
<img width="858" alt="screen shot 2018-02-13 at 12 10 08 pm" src="https://user-images.githubusercontent.com/16906897/36163349-1ea4041e-10b7-11e8-9a03-7cdcfc85b255.png">

[2018-02-13 17:13] melissaelopez commented on #19
I can work on this issue!

[2018-02-13 17:13] eschadt commented on #10
I would like to claim this issue!

[2018-02-13 17:15] cr4zyafrican commented on #35
I claim this issue.

[2018-02-13 17:15] suyasha0 commented on #30
Can I work on this issue?

[2018-02-13 17:15] dorasun commented on #35
Can I work on this issue?

[2018-02-13 17:15] danagilliann commented on #15
Claimed

[2018-02-13 17:16] ashley-hu commented on #19
I would like to work on this issue.

[2018-02-13 17:16] natalietotonchy commented on #44
I would like to claim this issue

[2018-02-13 17:16] felixplajer commented on #13
I'd like to work on this issue.

[2018-02-13 17:16] zdaisyz commented on #6
I would like to work on this issue

[2018-02-13 17:16] jfushada commented on #7
I would like to claim this issue.

[2018-02-13 17:16] S1MB10T3 commented on #33
I claim this issue!

[2018-02-13 17:16] dorasun commented on #42
Can I have this issue?

[2018-02-13 17:16] kellyhogan commented on #33
I would like to work on this issue.

[2018-02-13 17:16] extra-mayo commented on #28
I'd like to claim this issue!

[2018-02-13 17:16] natalietotonchy commented on #38
I would like to claim this issue

[2018-02-13 17:16] ashley-hu commented on #12
I would like to claim this issue.

[2018-02-13 17:16] kellyhogan commented on #18
I would like to claim this issue.

[2018-02-13 17:17] ryanchau commented on #8
Claiming this issue.

[2018-02-13 17:18] mzguimaraes commented on #39
I'd like to claim this issue.

[2018-02-13 17:18] ashleytqy commented on #25
Can I work on this?

[2018-02-13 17:27] JimenezJC commented on #23
Claiming this issue.

[2018-02-13 17:32] oekonomi commented on #44
I would like to claim this issue.

[2018-02-13 17:33] adnanislam commented on #43
I'll claim this issue

[2018-02-13 17:34] swang96 commented on #20
I would like to claim this issue.

[2018-02-13 17:36] PhrydRhys commented on #5
I would like to take this issue

[2018-02-13 17:37] ckilcrease commented on #27
I would like to work on this issue!

[2018-02-13 17:42] ghost commented on #9
I will claim this issue!

[2018-02-13 17:43] JFernandes1 commented on #14
I'd like to claim this!

[2018-02-13 17:48] JFernandes1 commented on #26
I think the ellipses might be intentional to show that there are more unlisted examples?

[2018-02-13 17:48] dayo-adebanjo commented on #36
Claiming this issue!

[2018-02-13 17:51] rosaswaby commented on #34
I would like to claim this issue!

[2018-02-13 17:52] Amethystix commented on #32
I'd like to claim this issue!

[2018-02-13 18:14] dmckenna24 commented on #2
I would like to claim this issue! :)

[2018-02-13 19:00] GS-14 commented on #22
I'd like to claim this.

[2018-02-13 21:50] ghost commented on #11
Hi, I'd like to claim this issue. :)

[2018-02-14 00:45] wentaozou1 commented on #11
I think the tryGit should be inside [] so that it will be a clickable link.

[2018-02-14 00:58] wentaozou1 opened #45 "No Tutor Office Hours"
![screen shot 2018-02-13 at 7 55 51 pm](https://user-images.githubusercontent.com/10876776/36182509-03061c42-10f8-11e8-8042-5d7662a70015.png)
There is no office hours for tutor under the Office Hours, while under the How To Get Help, it says "See the tutors and/or instructors during the post office hours."

[2018-02-14 03:45] riosr2 commented on #40
I would like to claim this issue

[2018-02-14 14:40] Matthew-Herman commented on #4
I'd like to claim this issue.

[2018-02-14 18:42] wentaozou1 commented on #9
I also want to claim this issue, but I found other issues with the day, most of the Thursday lectures have been labeled as Tue.

[2018-02-15 00:44] nrg294 opened #46 "The Building has the Wrong Name"
It says that the building is

<img width="488" alt="screen shot 2018-02-14 at 7 42 21 pm" src="https://user-images.githubusercontent.com/33606513/36235559-60958baa-11bf-11e8-8abe-3d2b2a4d1fe6.png">

however on Albert it says 60 5th Ave.

[2018-02-15 00:44] nrg294 commented on #45
I will claim this issue!

[2018-02-16 16:20] wentaozou1 commented on #17
I would like to claim and work on this issue. Thank you.

[2018-02-17 13:45] joannakl commented on #28
@extra-mayo  you cannot be fixing your own issue - this was a rule

[2018-02-17 14:02] extra-mayo commented on #28
@joannakl  woops, sorry about that!

[2018-02-17 14:03] extra-mayo commented on #46
I'd like to claim this issue!

[2018-02-17 14:10] joannakl commented on #2
@dmckenna24 : go ahead with the fix for this issue

[2018-02-17 14:13] joannakl commented on #4
@Matthew-Herman : go ahead with the fix for this issue

[2018-02-17 14:14] joannakl commented on #5
@PhrydRhys : go ahead with the fix for this issue

[2018-02-17 14:16] joannakl commented on #25
duplicate of #2

[2018-02-17 14:21] joannakl commented on #6
@dazigemm : go ahead with the fix for this issue

[2018-02-17 14:25] joannakl commented on #15
@danagilliann : go ahead and fix the issue

[2018-02-17 14:26] joannakl commented on #26
Agreed - this is not really an issue.

[2018-02-17 14:26] #26 closed, assigned to nobody

[2018-02-17 14:27] joannakl commented on #18
@kellyhogan go ahead and fix this issue

[2018-02-17 14:31] joannakl commented on #14
I am not sure which of the commas are a problem.
Can you show an example here.

[2018-02-17 14:34] joannakl commented on #22
@GS-14 which image are you proposing to include there? if there is one that is appropriate, go ahead and fix that issue

[2018-02-17 14:35] joannakl commented on #10
@eschadt  go ahead and fix this issue

[2018-02-17 14:36] joannakl commented on #12
@ashley-hu  go ahead and fix this issue

[2018-02-17 14:38] joannakl commented on #11
@juliandorville  go ahead and fix this issue

[2018-02-17 14:40] joannakl commented on #8
@rchau0623  go ahead and fix this issue - but the link should not be absolute, it should be relative to the slides directory

[2018-02-17 14:40] joannakl commented on #7
@jfushada  go ahead and fix this issue

[2018-02-17 14:42] joannakl commented on #13
@felixplajer  go ahead and fix this issue

[2018-02-17 14:45] joannakl commented on #20
@swang96  go ahead and try to fix this issue, but keep in mind that this html is generated from the markdown text

[2018-02-17 14:47] joannakl commented on #23
What would be an additional fix for this once #5 is fixed?

[2018-02-17 14:48] joannakl commented on #27
@ckilcrease  go ahead and fix this issue

[2018-02-17 14:50] joannakl commented on #30
@suyasha0 go ahead and work on this issue

[2018-02-17 14:51] joannakl commented on #32
@lad475  go ahead and work on this issue

[2018-02-17 14:53] joannakl commented on #38
@natalietotonchy  go ahead with fixing this

[2018-02-17 15:56] suyasha0 commented on #14
Sorry if it is not actually an issue, but I thought of it as an issue. The first comma is included in the hyperlink, and there is an extra comma after author names.
![inkedcomma_li](https://user-images.githubusercontent.com/25313410/36342777-3ea45c38-13d1-11e8-939a-020f052ae6ee.jpg)

[2018-02-17 16:42] joannakl commented on #35
@cr4zyafrican  go ahead and fix the issue

[2018-02-17 16:43] joannakl commented on #42
@dorasun  go ahead and work on this issue

[2018-02-17 16:50] joannakl commented on #44
@oekonomi  you can work on this issue

[2018-02-17 16:52] joannakl commented on #46
duplicate of #10

[2018-02-17 16:52] #46 closed, assigned to nobody

[2018-02-17 16:53] joannakl commented on #19
@melissaelopez  go ahead and work on this issue

[2018-02-17 16:54] joannakl commented on #17
@wentaozou1  you can work on this issue

[2018-02-17 16:55] joannakl commented on #36
@dayo-adebanjo  you can work on this issue

[2018-02-17 16:57] joannakl commented on #40
I am going to veto this one. This bug does not affect the final state o the website and the disclaimer will be removed in the final product.

[2018-02-17 16:57] #40 closed, assigned to nobody

[2018-02-17 16:57] riosr2 commented on #28
I'd like to claim this issue

[2018-02-17 16:58] joannakl commented on #45
Before anybody is assigned to this issue: what is the proposed fix?

[2018-02-17 17:01] joannakl commented on #24
This can stay as is.

[2018-02-17 17:02] joannakl commented on #28
@riosr2  go for it

[2018-02-17 17:04] extra-mayo commented on #39
I'd like to claim this issue!

[2018-02-17 17:05] #30 closed, assigned to nobody

[2018-02-17 17:07] joannakl commented on #33
@Rantahu  go ahead and work on this issue

[2018-02-17 17:08] joannakl commented on #34
@rosaswaby  go ahead and work on this issue

[2018-02-17 17:10] joannakl commented on #39
@extra-mayo  you can work on this issue, but you may need to get some further feedback for what the  change should be

[2018-02-17 17:13] joannakl commented on #43
I'll veto this one. The course website is not really formal enough to worry about these types of differences.
https://dictionary.cambridge.org/us/grammar/british-grammar/until

[2018-02-17 17:13] #43 closed, assigned to nobody

[2018-02-17 17:14] joannakl commented on #9
@zadner  go ahead and work on this issue - the resolution should take case of the day errors mentioned in the followup discussion

[2018-02-17 17:17] joannakl opened #50 "class 5 in daily has a wrong background"
In the daily the class backgrounds alternate between shades of gray. The class 5 should have a light gray background.

[2018-02-17 17:27] adnanislam commented on #50
This can be fixed by changing the div class found in the top of the file here https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/05.markdown.

I'd also like to claim this issue.

[2018-02-17 22:45] #12 closed, assigned to nobody

[2018-02-18 05:46] AlvaroLuken commented on #50
Though I am unsure how to directly solve the issue (I know it has to do with editing the contents of https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/05.markdown) I would like to claim this issue and work on it.

[2018-02-18 16:54] ashleytqy commented on #25
@joannakl

The fix for Issue https://github.com/joannakl/cs480_s18/issues/2 in PR https://github.com/joannakl/cs480_s18/pull/62 replaces the 'GitHub' tab with the 'Piazza' tab. Would it be okay if I add the GitHub tab back and link it to either – https://github.com/joannakl/cs480_s18/ or https://github.com/nyu-ossd-s18?

[2018-02-18 17:07] #4 closed, assigned to nobody

[2018-02-18 17:26] joannakl commented on #25
@ashleytqy  you should comment on PR #62 and state that it's an incomplete fix. Or, if it turns out that the original poster of this issue @GS-14  is happy with the fix, then another bug report can be opened (or one of the closed issues can be reopen to addess this missing GitHub link)

[2018-02-18 19:08] GS-14 commented on #25
Just to clarify, I intended for this issue to be separate from #2 in the sense that someone would have to fix the existing tab (which #62 seems to resolve), but there's still one tab missing in the header. I can't reopen my own issue, but #62 isn't a fix for it.

[2018-02-18 19:46] jhelfgot1 commented on #45
The solution would be to un-comment the properties in the _config.yml for tutor_location and tutor_schedule_link [here](https://github.com/joannakl/cs480_s18/blob/0070c58f1f2026272caafb8578b0d799260741fe/_config.yml#L31) and then also add the corresponding information to the[ index.markdown](https://github.com/joannakl/cs480_s18/blob/126086fb0ff1f9dc4c522528ac522d9ae2963641/index.markdown) file un

[2018-02-18 19:52] jhelfgot1 opened #63 "Typo in "The Rise of the Open-Source Platform" Link"
On the home page of the website, under the "Why Open Source Matters and Why Should You Care?" header, the link to "The Rise of the Open-Source Platform" article reads "The Rise of Open-Source Platform" rather than "The Rise of **the** Open-Source Platform". ([Link to problem](https://joannakl.github.io/cs480_s18/))

[2018-02-18 20:03] jhelfgot1 commented on #23
Once the link is labelled properly, the href attribute of the corresponding anchor tag could be modified to link directly to the portion of the page displaying the Spring schedule. ([Link To Code](https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/footer.html#L5))

I would like to claim this issue.

[2018-02-18 20:09] jhelfgot1 commented on #63
I would also be happy to claim this issue if needed.

[2018-02-18 20:41] nrg294 commented on #63
I would like to claim this issue

[2018-02-18 20:43] nrg294 commented on #45
That seems like the correct fix to me! I would also like to claim this issue

[2018-02-18 20:51] ashleytqy commented on #25
@joannakl is it possible for you to re-open this issue, as per @GS-14 's comment? thanks!

[2018-02-18 21:10] GS-14 commented on #22
@joannakl The best one I found so far is:
https://quaid.fedorapeople.org/TOS/Practical_Open_Source_Software_Exploration/html-single/Common_Content/images/title_logo.svg
Is that fine?

[2018-02-19 00:48] JimenezJC commented on #63
If this issue still hasn't been assigned I would like to claim it

[2018-02-19 00:50] JimenezJC commented on #23
The fix found by jhelfgot1 seems to be correct.

This issue still seems unassigned. I would like to claim it

[2018-02-19 02:31] mzguimaraes commented on #50
I'd like to claim this issue if it's still unassigned.

[2018-02-19 02:32] mzguimaraes commented on #63
I'd like to claim this issue if still unassigned.

[2018-02-19 02:33] mzguimaraes commented on #14
I'd like to claim this if still unassigned.

[2018-02-19 02:34] mzguimaraes commented on #45
If the other people claiming this issue have been assigned to other issues already, I'd like to claim it.

[2018-02-19 02:48] #32 closed, assigned to nobody

[2018-02-19 02:49] #27 closed, assigned to nobody

[2018-02-19 02:52] #5 closed, assigned to nobody

[2018-02-19 02:53] #8 closed, assigned to nobody

[2018-02-19 02:57] #6 closed, assigned to nobody

[2018-02-19 03:57] Amethystix commented on #14
Just wanted to point out that the cause of this issue is the same as #32 , which I've claimed and solved already, so this issue should be closed.

[2018-02-19 14:55] joannakl commented on #14
@lad475 it seems that the fix has been applied to the first three titles, but not the remaining one.

@mzguimaraes  go ahead and work on this issue

[2018-02-20 00:58] #10 closed, assigned to nobody

[2018-02-20 09:04] felixplajer commented on #13
PR submitted to fix this [here](https://github.com/joannakl/cs480_s18/pull/75).

[2018-02-20 16:02] joannakl opened #76 "build and test instrucitons"
Ther are currently no build instructions for the site.

[2018-02-20 17:14] ashleytqy commented on #76
Can I work on this?

[2018-02-20 17:25] ashleytqy opened #77 "Missing CONTRIBUTING.md"
It would be nice to have a `CONTRIBUTING.md` with instructions on how to submit an issue or make a pull request to this project, e.g. https://github.com/avajs/ava/blob/master/contributing.md

[2018-02-21 03:55] joannakl commented on #45
@jhelfgot1 you can work on this issue
the information should be that Sachin is the tutor and his hours are going to be Mondays 10am-12pm

[2018-02-21 03:56] joannakl commented on #50
@AlvaroLuken you can work on this issue

[2018-02-21 03:58] #19 closed, assigned to nobody

[2018-02-21 04:05] #7 closed, assigned to nobody

[2018-02-21 04:09] joannakl opened #79 "Bad link in class number 2"
In class number 2 (which finally appears) the link to
History of Open Source points to nothing (it simply reloads the current page).

[2018-02-21 04:10] #13 closed, assigned to nobody

[2018-02-21 11:43] gabegordon commented on #79
I'd like to claim this issue.

[2018-02-21 15:29] mzguimaraes commented on #77
I could work on a first draft on this. May I claim this issue?

[2018-02-21 16:31] JimenezJC commented on #79
The problem seems to stem from this markdown file.
 https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/02.markdown

If you look at the raw markdown, the link parameter seems to be empty for "History of Open Source"
I'm not entirely sure where this used to link to, if the original link is provided I would like to claim and work on this issue.

[2018-02-21 16:56] gabegordon commented on #79
The link should be to https://joannakl.github.io/cs480_s18/slides/week1/history.html.
Issue is fixed in PR #81

[2018-02-21 20:33] jhelfgot1 commented on #45
Sounds good, thanks Joanna.

[2018-02-21 21:35] jhelfgot1 commented on #45
@joannakl will the tutor's office hours be located at 406 WWH?

[2018-02-22 03:41] joannakl commented on #45
yes

[2018-02-22 03:42] joannakl commented on #63
@nrg294 go ahead and work on this issue

[2018-02-22 03:43] joannakl commented on #77
@mzguimaraes  that would be nice, go ahead

[2018-02-22 03:44] joannakl commented on #79
@gabegordon  you can work on this

[2018-02-22 03:45] #11 closed, assigned to nobody

[2018-02-23 01:20] dorasun opened #85 "Improperly formatted link in class 2"
It looks like the link to the github markdown cheatsheet is improperly formatted/broken; problem looks to be in: https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/02.markdown
where there is an extra space in the link

Viewed on the latest version of chrome

[2018-02-23 03:14] joannakl commented on #85
can someone confirm it / claim it?
there are still two people who need a bug assignment

[2018-02-23 03:26] ashley-hu commented on #85
Hello,

I see the issue here:
![screen shot 2018-02-22 at 10 22 32 pm](https://user-images.githubusercontent.com/19430665/36576479-fafc7798-181e-11e8-9d6f-d1fa9ae9995e.png)

It indeed looks like a markdown issue. According to the markdown cheatsheet, https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#links, to create a link in Github, there should be no space between the right bracke

[2018-02-23 03:35] #38 closed, assigned to nobody

[2018-02-23 05:36] adnanislam commented on #85
I'll claim this

[2018-02-23 12:00] #77 closed, assigned to nobody

[2018-02-23 12:03] #28 closed, assigned to nobody

[2018-02-23 12:04] #39 closed, assigned to nobody

[2018-02-24 20:49] wentaozou1 commented on #17
I have changed the description in the howtogethelp. Shown as below, please check. Thank you.
![screen shot 2018-02-24 at 3 47 58 pm](https://user-images.githubusercontent.com/10876776/36634927-57364d16-197a-11e8-8d94-7a1f575ddb5a.png)

[2018-02-24 23:59] adnanislam commented on #24
I'll be closing this issue if it's not in need of fixing, considering it got labeled with a wontfix tag.

[2018-02-24 23:59] #24 closed, assigned to nobody

[2018-02-25 00:12] #18 closed, assigned to nobody

[2018-02-25 01:24] sachinsurfs commented on #85
@adnanislam - I am assigning the issue to you.

-TA

[2018-02-25 18:03] #79 closed, assigned to nobody

[2018-02-25 18:05] #33 closed, assigned to nobody

[2018-02-25 19:48] #35 closed, assigned to nobody

[2018-02-25 23:29] Matthew-Herman opened #88 "Twitter plugin not working on Chrome"
Im using Mac OS 10.12.6 and Chrome 64.0.3282.140.

### Opening website in Chrome
<img width="1680" alt="screen shot 2018-02-25 at 6 23 42 pm" src="https://user-images.githubusercontent.com/17124331/36647839-67be6242-1a59-11e8-9c87-a24ca708dde5.png">

### Opening in Safari
<img width="1680" alt="screen shot 2018-02-25 at 6 23 25 pm" src="https://user-images.githubusercontent.com/17124331/36647841-6

[2018-02-26 00:06] ashleytqy commented on #88
Works for me though

---
<img width="1279" alt="screen shot 2018-02-25 at 7 06 08 pm" src="https://user-images.githubusercontent.com/11889765/36648256-f9955b26-1a5e-11e8-9a84-913396c21b07.png">

[2018-02-26 00:29] Matthew-Herman commented on #88
After checking the console, I realized it's my adblock on Chrome, so there's no bug in the website here and I'm closing this.

[2018-02-26 00:29] #88 closed, assigned to nobody

[2018-02-26 01:11] S1MB10T3 opened #89 "Links are not relative for local builds"
Some files aren't being called properly. `head.html` calls `{{ site.url }}/resources/css/course_page.css`. I don't think jekyll locally uses the url stated in `_config.yml`.

Jekyll Log:
[code]
A fix could be to change `{{ site.url }}` to `{{ site.baseurl }}`.

[2018-02-26 01:13] JimenezJC commented on #89
Was also experiencing this issue while attempting to run ```jekyll serve``` on my local machine
My development environment is Antegros Linux and my browser is Firefox Nightly 60.0a1 (2018-02-14) (64-bit).

I would like to claim this issue

[2018-02-26 02:47] dorasun commented on #42
@kellyhogan I've left you a note with a link to my fork on pull request #70, please confirm if this fix adequately resolves the issue you saw

[2018-02-26 03:28] eschadt commented on #10
@jfushada Does this fix satisfy the problem you described? is no further work required?

[2018-02-26 04:14] jfushada commented on #10
@eschadt yes! I commented that it was good in the pull request thread, and Professor Klukowska already merged and closed the issue.

[2018-02-26 16:00] #22 closed, assigned to nobody

[2018-02-26 20:43] natalietotonchy commented on #44
waiting for commit to be merged, fix should resolve the issue. I verify!

[2018-02-27 03:01] #44 closed, assigned to nobody

[2018-02-27 03:05] #76 closed, assigned to nobody

[2018-02-27 03:27] #9 closed, assigned to nobody

[2018-02-27 03:29] #63 closed, assigned to nobody

[2018-02-27 03:32] joannakl commented on #14
@mzguimaraes  Is anybody working on this issue?
If not, I will reassign it to someone else.

[2018-02-27 03:33] #15 closed, assigned to nobody

[2018-02-27 03:35] joannakl commented on #17
@wentaozou1  Where is the code with the change? You need to make a PR.
I would not include the "Also, you can ask your classmates about the questions."

[2018-02-27 03:37] joannakl commented on #23
@JimenezJC  you can work on this issue

[2018-02-27 05:04] mzguimaraes commented on #14
I'm so sorry @joannakl, I didn't see that this had been assigned to me.  I can make the fix, but if somebody else still needs their first PR it's all theirs.

[2018-02-27 19:42] kellyhogan commented on #42
@dorasun  sorry, I thought I approved this fix already, but it solves the problem. Thanks!

[2018-03-01 00:29] #42 closed, assigned to nobody

[2018-03-01 00:47] joannakl commented on #14
@JFernandes1 you can work on this issue

@mzguimaraes  thanks, for now, let this one be

[2018-03-01 00:56] #50 closed, assigned to nobody

[2018-03-01 17:10] GS-14 commented on #2
The 'Github' button now leads to a 404 page.
Chrome Version: 64.0.3282.186

[2018-03-01 17:10] ashleytqy opened #93 "Broken GitHub link"
Link to GitHub currently links to https://github.com/orgs/-ossd-snyu18/

Fix in `_includes/header.html`, on this line –
[code]

[2018-03-01 23:01] dorasun commented on #93
I noticed this too on the latest version of chrome, link should be:
https://github.com/nyu-ossd-s18

[2018-03-02 01:22] oekonomi opened #94 "Daily page open data week section typo"
Under the open data week section on the daily page, there is a typo in the second bullet point
"in your blog describe the event (optional: post a selfie of yourself at the event, make sure that it is clear that you are at that event, alternative: email a the picture to Joanna)"

It should either say "email a picture" or "email the picture".

Issue noticed on Chrome Version 64.0.3282.186 on Windows

[2018-03-02 04:01] dorasun opened #95 "minor typos in class 12 assignment section"
<img width="397" alt="screen shot 2018-03-01 at 10 52 47 pm" src="https://user-images.githubusercontent.com/10905385/36882779-ed196980-1da3-11e8-8bef-e2916c570178.png">

As can be seen in the above screenshot, there are some minor typos under the assignment section of class 12, namely 'assesment' and 'asses' should be 'assess'! 'Strength' is misspelled once as well, and it should be "teammates'" n

[2018-03-02 15:41] joannakl commented on #93
Yes, it is a broken link even though it was corrected and verified in #62. It seems that the last commit introduced the problem.

This link should be handled by site-specific variables  set in _config.yml file instead of being hardcoded in that file. (Similar to how the piazza link is handled).

[2018-03-03 17:16] ashley-hu commented on #93
I would like to claim this issue.

[2018-03-05 04:39] PhrydRhys commented on #95
I can verify that this issue is also on Version 64.0.3282.167 (Official Build) (64-bit) of Chrome.

The source of the typos seem to be in the [12.markdown file](https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/12.markdown)

If possible, I would like to claim this issue, regardless if this fix counts as non-trivial or not

[2018-03-12 19:31] ryanchau opened #96 "Typo in History Slides"
In cs480_s18/slides/week1/history.html on line 38, firure should be figure.

Issue noticed on Chrome Version 64.0.3282.186 on Ubuntu.

[2018-03-12 19:32] rchau0623 commented on #96
I would also like to fix this issue if that's alright.

[2018-03-12 20:34] ryanchau commented on #94
This issue is located in: cs480_s18/_includes/daily/NYC_OpenDataWeek.markdown in line 14.

If possible I would like to claim this issue.

[2018-03-14 02:17] extra-mayo commented on #96
Can confirm on Version 64.0.3282.186 (Official Build) (64-bit):
![alt text](https://i.gyazo.com/764b865b2493400a44a9c888a08576c1.png)

The fix is to fix that spelling located in In cs480_s18/slides/week1/history.html on line 38.
I would like to claim this issue please!

[2018-03-15 19:37] oekonomi opened #97 "Open Source News Sites italics"
On the syllabus page, the Open Source News Sites heading (after the list of textbooks) has _News Sites_ in italics.  Only _News Sites_ is in italics but either the heading should be in italics or there should be no italics.

[2018-03-20 02:53] #85 closed, assigned to nobody

[2018-03-24 19:51] joannakl commented on #89
@JimenezJC you can work on this

[2018-03-29 15:25] ghost opened #98 "Broken link to Danna Kelmer's LinkedIn page"
When you click on the [link](https://www.linkedin.com/in/dannakelmer/]) (under Class # 19 Tue, 4/3), you get a "Page not found" redirect. It looks like there's an extra "[" after the "/" in the link, as when you remove it, it takes you to the correct page.

Identified on Firefox Quantum 59.0.1

EDIT: Thought it was necessary to add that, interestingly enough, it seems that when you click the link

[2018-03-30 03:15] kellyhogan commented on #98
I can confirm this issue with Chrome Version 65.0.3325.162 (Official Build) (64-bit).

I would also like to work on this issue.

[2018-03-31 13:35] joannakl commented on #98
Thanks for reporting it.
@kellyhogan  go for it with a fix

[2018-03-31 13:37] joannakl commented on #97
Yes, that's an issue

[2018-03-31 13:38] joannakl commented on #96
Thanks for reporting.
@extra-mayo  you can work on it.

[2018-03-31 13:39] joannakl commented on #95
thanks for reporting

@PhrydRhys  you can work on this, if still interested

[2018-03-31 13:40] joannakl commented on #94
thanks for reporting it

@rchau0623  you can work on it

[2018-04-01 12:41] #20 closed, assigned to nobody

[2018-04-01 15:03] ghost opened #99 "Wrong Instructions for incorporating Contributions document to blog"
The instructions for adding the contributions to our personal blogs, under [Class # 18 Thu, 3/29](https://joannakl.github.io/cs480_s18/daily.html), are incorrect. If you perform the instructions as they are, and then click the Contributions link on your blog, you get sent to a 404 Error page. This is because it links to https://nyu-ossd-s18.github.io/cs480_s18/contributions, which doesn't exist, a

[2018-04-01 18:15] ryanchau commented on #97
This issue is located in syllabus.markdown on line 21.

[2018-04-01 21:26] oekonomi commented on #99
I managed to add the contribution page to my blog by going into layouts/default.html and inserting
`<a href="{{site.baseurl}}/contributions">Contributions</a>` below line 31 where the navbar link for the about page is.

[2018-04-01 22:24] PhrydRhys commented on #99
I can confirm that using ``<a href="/cs480_s18/contributions">Contributions</a>`` also gave me a 404 error on Chrome Version 64.0.3282.140 (Official Build) (64-bit).

I also can verify that, for my blog, using ``<a href="{{site.baseurl}}/contributions">Contributions</a>`` (as suggested by @oekonomi) worked.

[2018-04-03 21:33] dorasun opened #104 "Inconsistent underlining on syllabus page"
For most of the topics on the syllabus page (https://joannakl.github.io/cs480_s18/syllabus.html), there is an underline under the topic:
<img width="483" alt="screen shot 2018-04-03 at 5 28 02 pm" src="https://user-images.githubusercontent.com/10905385/38276895-8966e1f8-3764-11e8-81fb-52523dab1890.png">
<img width="444" alt="screen shot 2018-04-03 at 5 28 23 pm" src="https://user-images.githubuser

[2018-04-04 20:56] ashley-hu commented on #104
I see the same thing on Safari Version 11.0.3 (11604.5.6.1.1) and MacOS Version 10.11.6.

However, I believe this is deliberate rather than an actual issue.

[2018-04-05 14:15] #94 closed, assigned to nobody

[2018-04-05 14:17] #98 closed, assigned to nobody

[2018-04-05 14:18] #95 closed, assigned to nobody

[2018-04-05 14:22] joannakl commented on #104
This was not deliberate. I think it was one of the bugs introduced early on and nobody picked up on it.

[2018-04-05 14:23] joannakl commented on #93
@ashley-hu  you can work on this

[2018-04-05 15:03] mzguimaraes commented on #97
I'd like to claim this issue.

[2018-04-05 16:07] mzguimaraes commented on #25
If this is still open, maybe the duplicate tag should be removed.  People probably aren't even looking at this issue because of it.

[2018-04-05 19:16] jfushada commented on #104
I'd like to claim the issue, please!

[2018-04-05 19:28] dorasun commented on #99
If you look at the source code at [cs480_s18/_includes/daily/18.markdown](https://github.com/joannakl/cs480_s18/blob/gh-pages/_includes/daily/18.markdown) it actually does say to use {{site.baseurl}} but I think because of the way the site is formatted, it actually grabbed the baseurl of the site which would be cs480_s18. I think the problem here is that there are spaces inside of the brackets but

[2018-04-05 19:29] ckilcrease commented on #99
I'd like to work on this!

[2018-04-06 01:02] joannakl commented on #97
@mzguimaraes  it's yours

[2018-04-06 01:03] joannakl commented on #99
@ckilcrease  go for it

[2018-04-06 01:04] joannakl commented on #104
@jfushada  it is yours

[2018-04-08 16:07] #34 closed, assigned to nobody

[2018-04-08 16:09] #45 closed, assigned to nobody

[2018-04-08 16:10] #17 closed, assigned to nobody

[2018-04-08 16:11] #96 closed, assigned to nobody

[2018-04-08 16:13] #93 closed, assigned to nobody

[2018-04-08 16:14] #104 closed, assigned to nobody

[2018-04-08 16:17] #99 closed, assigned to nobody

[2018-04-08 16:23] joannakl commented on #25
@mzguimaraes  done

[2018-04-08 17:14] dmckenna24 commented on #36
This is resolved!

[2018-04-08 17:14] #36 closed, assigned to nobody

[2018-04-08 23:40] extra-mayo opened #111 "Unnecessary line break under Class 12 Team Assessment and Plan"
In the daily section, there's a line break separating "2 hours block outside of" and "class)..." located underneath team assessment and plan in class 12 details
Spotted in Chrome Version 65.0.3325.181 (Official Build) (64-bit)
![alt text](https://i.gyazo.com/2ca7af491675a986de4d49d6cca62fc7.png "See here")

[2018-04-09 04:16] GS-14 commented on #25
@joannakl I think the duplicate label is still there.

[2018-04-09 14:19] riosr2 commented on #111
Can I work on this issue please?

[2018-04-10 21:29] GS-14 commented on #23
This issue seems to be resolved. Is there anything that still needs to be done?

[2018-04-11 22:27] kellyhogan opened #112 "Final exam date needs to be updated"
Since we have a choice to take the final exam on May 3 at 11:00-12:15 instead of the official date of the final exam, which is May 15 at 10:00-11:50 (according to the computer science department [website](https://cs.nyu.edu/dynamic/courses/exams/)), we should update the "TBD" under "Important Dates".

<img width="694" alt="final_exam" src="https://user-images.githubusercontent.com/17225886/3864610

[2018-04-13 01:30] joannakl commented on #111
@riosr2  you can work on this

[2018-04-15 05:04] extra-mayo commented on #112
Also seeing this issue on Chrome Version 65.0.3325.181 (Official Build) (64-bit).

A suggested fix would be to include both of the final dates (May 3, 11:00 - 12:15 PM and May 15, 10:00 - 11:50 AM) under the __Final Exam__ header, with a side note saying to attend the one that we signed up for.

[2018-04-18 15:45] natalietotonchy commented on #112
I would like to fix this issue. @joannakl can I claim it?

[2018-04-24 00:50] suyasha0 opened #113 "Terasology is mispelled"
On the daily page, under Class 27, Terasology is mispelled as "therasology".

![image](https://user-images.githubusercontent.com/25313410/39160182-dd8d77be-4737-11e8-839f-d00efec905d3.png)

[2018-04-25 12:46] swang96 commented on #113
Hi, I'd like to claim this issue!

[2018-04-25 12:52] swang96 opened #114 "Inconsistent bolding and title of blog assignment headers"
Under the "Readings, Assignments, Homework", the header for the blog post assignments are inconsistently bolded. Some appear as "Blog posts for this week:" while others appear as "**Blog posts for this week:**". In addition, some say simply "Blog posts: " instead of "Blog posts for this week:".

[2018-04-25 13:01] swang96 opened #115 "Inconsistent format and bolding of Midterm/Final Exam Date"
The midterm exam and final exam date headings are inconsistently bolded and formatted under "Important Dates" of the homepage.

![screen shot 2018-04-25 at 8 58 21 am](https://user-images.githubusercontent.com/19349247/39247305-027ddf5c-4867-11e8-86c2-f7a3e6b1d41a.png)

The colon is after the parentheses for Midterm Exam and before the parentheses for Final Exam. In addition, the words in parenthe

[2018-04-29 23:29] kellyhogan commented on #114
I can confirm this issue on Google Chrome Version 65.0.3325.181 (Official Build) (64-bit).

There are inconsistencies with "Blog posts" assignment headers for classes 18, 20, 22, and 24:

![image](https://user-images.githubusercontent.com/17225886/39411918-1cd85f4e-4be1-11e8-885d-256271a67e12.png)
![image](https://user-images.githubusercontent.com/17225886/39411958-c4eb5fe2-4be1-11e8-8598-9bc59fc4

[2018-05-02 14:54] wentaozou1 commented on #114
I would like to fix this issue. I will standardize the font for the website as well as the blogpost not the piazza not here.

[2018-05-05 04:17] ckilcrease commented on #115
This section can be fixed in [index.markdown](https://github.com/joannakl/cs480_s18/blob/gh-pages/index.markdown)

[2018-05-05 21:35] suyasha0 commented on #115
I can confirm this is an issue. I am using Microsoft Edge.
In index.md I would remove the bold after "Midterm Exam" to fix the bolding inconsistency.
From
`**Midterm Exam (these dates may change if there are any schedule changes):** `
to
`**Midterm Exam** (these dates may change if there are any schedule changes):`

[2018-05-05 22:15] suyasha0 commented on #114
I believe week 8 is the blog post description that is missing on the class website. This should be placed under Class # 16.

[2018-05-07 11:33] joannakl commented on #112
@natalietotonchy  if you still need some contributions, go for it

[2018-05-07 11:34] joannakl commented on #113
@swang96  if you still need some contributions, go for it

[2018-05-07 11:35] joannakl commented on #114
There are tons of other inconsistencies like this one. I do not think this is a bug. There is no requirement for these things to be consistent.

[2018-05-07 11:35] #114 closed, assigned to nobody

[2018-05-07 13:19] natalietotonchy commented on #112
@joannakl Thanks!

[2018-05-10 18:56] natalietotonchy commented on #112
@joannakl passing this issue to @cr4zyafrican

[2018-05-10 19:14] cr4zyafrican commented on #112
thanks @natalietotonchy we can share the credit

[2018-05-13 02:43] AlvaroLuken opened #118 "Class #29 not yet put up (final exam, second meeting date)"
Class '#'29              Exam 2 (second date)
Tue, 5/15

This is useful for record-keeping.

[2018-05-14 01:21] nrg294 commented on #118
I see this problem too! Seems like a simple fix would just add it to the displayed file

[2018-05-14 01:25] nrg294 commented on #115
this is still a problem. I can confirm that fixing the index.md file would fix this issue

[2018-05-14 01:26] nrg294 commented on #113
i see this has been assigned has it been fixed? is their a pull request?

[2018-05-14 02:10] AlvaroLuken commented on #118
Feel free to claim this issue, @nrg294 !